header, a, img, li{
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s; /* Opera */
}


body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a:visited {
	    color: rgb(101, 152, 197);
}


.photoProfil {
	width: 500px;
}

.container {
	position: relative;
}

.profile-pic {
    width: 160px;
    min-height: 160px;
    margin: 0 auto 15px auto;
    background: #C2C2C2;
    border-radius: 160px;
    background: url('https://avatars0.githubusercontent.com/u/6144489?s=460&v=4');
    background-size: 130%;
		margin-top: 50px;
}


.titre {
	color: rgb(101, 152, 197);;
	margin: 0;
}

.logo {
	text-align: center;
	position: relative;
}

.logo  p {
	margin: 0;
	color: #c8c8c9;
}

.presentation {
	margin: 50px auto;
	display: block;
	width: 45%;
}

.presentation h2 {
	font-size: 1.8em;
}

.presentation p {
	text-align: justify;
  font-size: 1.1em;
  color: rgb(86, 86, 86);
}

.presentation a {
	color: rgb(101, 152, 197);
	text-decoration: none;
}

.social {
	font-size: 2em;
	width: 100%;
	text-align: center;
	color: #CCC;
	left: 0;
}

.social a {
	color: #CCC;
}

.social a:hover {
	color: #777;
}

@media (max-width: 997px) {
	.presentation {
		width: 80%;
	}
}
